<div class="container">
  <div id = "authenticate">
    <h4>Login:</h4>
    <form method="post" action="/login">
      <p>Email:<p>
        <input type: "text" name = 'user[email]'>
        <br>
        <p>Password:<p>
          <input type:"password" name ='user[password]'>
          <br>
          <br>
          <input type="submit" value="Submit">
        </form>
        <a href='/create_user'>Not a user yet?</a>
      </div>
    </div>
